<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <div class="container">

       <header class="header">
          <img src="/images/TerapiaOn-253pxRgb.jpg" alt="">
     
          <h1>Logos con ahref </h1>
        </header>     
        
            
     

          <div class="main">
             <h2>Hablamos tu mismo idioma</h2>
                <p class="text">
                    Somos un equipo en salud mental, con más de 30 años de práctica psicoterapéutica. <br>
                    A lo largo de todos estos años, ayudamos a muchas personas, logrando lo que  para nosotros, es el objetivo fundamental de todo proceso terapéutico, Vivir mejor y ser más feliz. <br>
                    Nuestra práctica, está basada tanto en una sólida formación, como en los siguientes valores, que aplicamos a diario en nuestras vidas. <br> <br>
                    
                    <b> Autenticidad </b> en las relaciones terapéuticas, lo que asegura que sean sinceras y constructivas. <br><br>
                    <b> Amor </b> por nuestra tarea y por las personas que consultan en búsqueda de alivio o ayuda, lo que permite una mayor entrega y una comunicación más franca y directa. <br><br>
                    <b>  Aceptación </b>sin juicio del paciente, para facilitar la observación personal, sin distorsiones ni prejuicios <br><br>
                    Con esas herramientas, buscamos crear un campo propicio, para que el paciente pueda encontrar su propio menú de opciones, y así resolver situaciones conflictivas o dolorosas, para, finalmente poder desarrollar sus capacidades, mejorar sus vínculos, expresar sus deseos, modificar conductas nocivas, alcanzando así sus objetivos. <br>
                    Desde el año 2008, empezamos a trabajar con la modalidad online, con pacientes que nos lo demandaban, que, por diversos motivos no podían realizar una psicoterapia presencial. Tenemos la suficiente experiencia, para afirmar que esta terapia, alcanza los mismos resultados que la presencial, sumando acceso fácil, seguro y cómodo, y como nota esencial, la flexibilidad, con respecto a que estés donde estés, es posible. <br>
                    Si estás pensando en empezar una terapia, te proponemos tener una serie de 3 entrevistas, sin el compromiso de iniciar un tratamiento, para conocernos, plantear objetivos terapéuticos, y evaluar si ambos podemos generar un clima de confianza y entendimiento que posibilite el trabajo en conjunto.

                </p>
           </div>
       
          <div class="item">

           <div class="item1">
              <img class="foto"  src="/images/gaby400.jpg" alt="">
                <p class="info">Gabriela Ponieman <br>
                Licenciada en psicologia <br>
                Licenciada en psicologiaUniversidad de Buenos Aires, 1985.
                </p>
            </div>

            <div class="item1">
                <img class="foto"  src="/images/sil400.jpg" alt="">
                  <p class="info">Silvina Birencwajg <br>
                     Licenciada en psicologia <br>
                     Universidad de Belgrano, 1983.
                </p>
           </div>
        
     
          </div>

    

  </div>

 </div>
 <footer class="footer"></footer>
<!-- comienzo footer    -->
<!-- finalizacion footer    -->
  
  </body>
</html>
