<!DOCTYPE html>
<html>
    <head>
     <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="/sylesheets/fonts.css">
    </head>
  
    <body>
       
      <div class="container">

          <header class="header">

            <div class="logo"> 
             <img src="/images/logoTerapia.svg" alt="">
            </div>
           
            <div class="banana">   
            <div class="icons"> 
              <a href="https://api.whatsapp.com/send?phone=5491150009119&text=Hola%2C%20me%20contacto%20para%20recibir%20informaci%C3%B3n%20que%20me%20pueda%20orientar%20a%20tal%20vez%20comenzar%20una%20terapia."><img src="/images/whatsappBlack-200px.svg" alt=""></a>
              <a href=""><img src="/images/instagramBlack-200px.svg" alt=""></a>
              <a href="mailto:hola@terapiaon.net"><img src="/images/emailBlack-200px.svg" alt=""></a>
             
            </div>
          </div>
         </header>     
        
       
                              <!-- aca comienza la caja de about us-->
              
                          <div class="item">

                                 <!-- aca comienza la caja de gaby-->

                             <div class="item1"> 
                                  <img class="foto"  src="/images/gaby400.jpg" alt="gaby">
                                 <p>
                                   <img src="/images/gabriela.svg" alt="">
                                 </p>
                                 
                                 
                                 <p class="text">Soy Gaby, 57 años, 2 hijos. Vivo  en una isla en el Delta. Disfruto mucho estar en contacto permanente con la naturaleza, sus ciclos, los árboles frutales, cosechar, hacer conservas y todo lo que se relaciona con la tierra y el río. Siento su enorme poder de sanación.

                                 </p>
                                  <!--- links a in  -->
                             
                              <div class="fruta1"><a href="https://www.linkedin.com/in/gabriela-ponieman-93157a33/"><img src="/images/linkedinBlack-50.svg" alt=""></a>

                              </div>
                              <!--- fin de links a in  -->
                                 
                              </div> 
                                  <!-- aca termina la caja de gaby-->   
   
                                 <!-- aca comienza la caja de Silvina-->

                              <div class="item2">
                                 
                                  <img class="foto"  src="/images/sildivina400.jpg" alt="">
                                    <p >
                                      <img src="/images/silvina.svg" alt="">
                                   </p>
                                   <p class="text">
                                    Soy Silvina,una persona  curiosa de la vida, las ganas de conocer y disfrutar son mis notas escenciales.
                                    Vivo feliz en lo que yo llamo “mi pueblo” en las afueras de la ciudad.
                                    Mis vínculos , el arte , la musica y la practica de yoga podrian resumir los motivos de mi alegria cotidiana que supe conseguir.

                                  </p>
                                   <!--- links a in  -->
                              <div class="fruta2"><a href="https://www.linkedin.com/in/silvina-birencwajg-0a51a912/"><img src="/images/linkedinBlack-50.svg" alt=""></a>

                              </div>
                                </div>
                               
                            </div>
                               <!--- fin de links a in  --> 
        
                            
  
                          </div>
                          
                              
                           
                       
                 <div class="main">
           
                  <p class="text">
                   Somos un equipo en salud mental, con más de 30 años de práctica psicoterapéutica. <br>
                   A lo largo de todos estos años, ayudamos a muchas personas, logrando lo que  para nosotros, es el objetivo fundamental de todo proceso terapéutico, Vivir mejor y ser más feliz. <br>
                   Nuestra práctica, está basada tanto en una sólida formación, como en los siguientes valores, que aplicamos a diario en nuestras vidas. <br> <br>
                   
                   <b> Autenticidad </b> en las relaciones terapéuticas, lo que asegura que sean sinceras y constructivas. <br><br>
                   <b> Amor </b> por nuestra tarea y por las personas que consultan en búsqueda de alivio o ayuda, lo que permite una mayor entrega y una comunicación más franca y directa. <br><br>
                   <b>  Aceptación </b>sin juicio del paciente, para facilitar la observación personal, sin distorsiones ni prejuicios <br><br>
                   Con esas herramientas, buscamos crear un campo propicio, para que el paciente pueda encontrar su propio menú de opciones, y así resolver situaciones conflictivas o dolorosas, para, finalmente poder desarrollar sus capacidades, mejorar sus vínculos, expresar sus deseos, modificar conductas nocivas, alcanzando así sus objetivos. <br>
                   Desde el año 2008, empezamos a trabajar con la modalidad online, con pacientes que nos lo demandaban, que, por diversos motivos no podían realizar una psicoterapia presencial. Tenemos la suficiente experiencia, para afirmar que esta terapia, alcanza los mismos resultados que la presencial, sumando acceso fácil, seguro y cómodo, y como nota esencial, la flexibilidad, con respecto a que estés donde estés, es posible. <br>
                   Si estás pensando en empezar una terapia, te proponemos tener una serie de 3 entrevistas, sin el compromiso de iniciar un tratamiento, para conocernos, plantear objetivos terapéuticos, y evaluar si ambos podemos generar un clima de confianza y entendimiento que posibilite el trabajo en conjunto.

                  </p>
                </div>       

      </div>  <!--Este cierra el class container-->


<!-- comienzo footer -->
<div class="banana">  
 
  <div class="Footer1"> 
     <a href="https://api.whatsapp.com/send?phone=5491159773336&text=Hola%2C%20me%20contacto%20para%20recibir%20informaci%C3%B3n%20que%20me%20pueda%20orientar%20a%20tal%20vez%20comenzar%20una%20terapia."><b>  +54 9 11 5977 3336 </a></b> 
 
     
   </div>
  
   <div class="Footer2"> 
     <a href="mailto:hola@terapiaon.net"><b>  hola@terapiaon.net</a></b> 
    
   </div>

</div>

<!-- termino footer  -->

  </body>
</html>
