<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <div class="container">
     <header class="header">
     <h1>Pongo header  ?????   si traigo un font que tengo lo pongo en img ?</h1>
     </header>

      <div class="main">
        <h2>Hablamos tu mismo idioma</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed labore autem aut iure id quia, debitis, est consectetur molestias vero itaque assumenda eos expedita aspernatur doloribus, vitae magnam ipsum ducimus voluptatibus. Ipsam eius enim quibusdam magni obcaecati nesciunt alias unde!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed labore autem aut iure id quia, debitis, est consectetur molestias vero itaque assumenda eos expedita aspernatur doloribus, vitae magnam ipsum ducimus voluptatibus. Ipsam eius enim quibusdam magni obcaecati nesciunt alias unde!
         </p>
    </div>
     <div class="item">
        <div class="item1">
          <img src="/images/download.jpg" alt="">
          <p class="info">Gabriela Ponieman</p>
          <p class="info">Licenciada en psicologia</p>
          <p class="info">Universidad de Buenos Aires, 1985.</p>
 
          
        </div>

        <div class="item1">
          <img src="/images/download.jpg" alt="">
          <p class="info">Silvina Birencwajg</p>
          <p class="info">Licenciada en psicologia</p>
          <p class="info">Universidad de Belgrao, 1983.</p>
        </div>
        
     </div>


    <div>

    </div>

 </div>
 <footer class="footer"></footer>
<!-- comienzo footer    -->
<!-- finalizacion footer    -->
  
  </body>
</html>
