* {
  font-family: 'splendid66';
}
body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.header {
  margin: 2rem;
}

.container {
  font-family: 'splendid66';
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.main {
  border-radius: 15px;

  margin: 25px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.item1 {
  width: 40rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  margin: 15px;
  border-radius: 15px;
  background-color: white;
}

.foto {
  width: 50%;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.footer {
  height: 40px;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}
