body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: splendid66;
  src: url(/images/SplendidB66.ttf);
}

.container {
  border: 1px solid lightblue;
  border-radius: 10px;
  text-align: center;
}
.main {
  border: 1px solid lightblue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.text {
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.item1 {
  align-items: center;
  text-align: center;
}
.info {
  width: 100%;
}
