* {
  @font-face {
    font-family: splendid;
    src: url(/fonts/SplendidB.woff);
  }
}
body {
  padding: 50px;
  font: 14px;
  font-family: 'Courier New', Courier, monospace;
}
.header {
  display: flex;

  justify-content: space-around;

  margin-top: 1rem;
}
.logo img {
  width: 150%;
}

.icons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.icons a img {
  width: 50%;
}

.container {
  font-family: 'splendid66';
  border-radius: 10px;
  text-align: center;
}

.main {
  margin-left: 25px;
  margin-right: 25px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
}
.whatsAppGreen {
  display: grid;
  justify-content: flex-end;
  color: white;
}
.whatsAppGreen a {
  color: white;
}

.text {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(95, 75, 58);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.item1 {
  width: 40rem;
  padding: 2rem;
  margin: 15px;
}

.item2 {
  width: 40rem;
  padding: 2rem;
  margin: 15px;
}

.foto {
  width: 50%;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.fruta1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fruta2 {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.banana {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  padding-top: 20px;
}
.banana a {
  text-decoration: none;
  color: rgb(95, 75, 58);
}

/*** mobile***/
@media (max-width: 780px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 70%;
  }

  .icons a img {
    width: 50%;
  }

  .item {
    display: flex;
    flex-wrap: wrap;
  }
  .banana {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
